.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5); /* Sfondo trasparente */
    z-index: 1000; /* Assicura che il modal sia davanti a tutti gli altri elementi */
    width: 100%;
    height: 100%;
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  /* Order.css */
.orders-container {
  background-color: #f2f2f2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.orders-content {
  padding: 20px;
}

.order-card {
  background-color: #fff;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  padding: 20px;
}

.success-message {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  margin-bottom: 20px;
}

.order-info {
  color: #0ace0a; /* Colore del testo per le informazioni dell'ordine */
  margin-bottom: 5px;
}

.order-item {
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

.order-item img {
  max-width: 100px;
  max-height: 100px;
}