.product-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid black;
    padding: 20px;
    z-index: 1000; /* Assicura che il popup sia sovrapposto al resto del contenuto */
}

.product-modal p {
    margin-bottom: 10px;
}

.product-modal button {
    margin-right: 10px;
}

.btn-delete {
    background-color: rgb(214, 20, 20);
}

.btn-view {
    background-color: rgb(23, 181, 224); /* Usa !important per sovrascrivere eventuali regole CSS esistenti */
}

.btn-update {
    background-color: rgb(23, 224, 70); /* Usa !important per sovrascrivere eventuali regole CSS esistenti */
}