.confirmation-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid black;
    padding: 20px;
    z-index: 1000; /* Assicura che il popup sia sovrapposto al resto del contenuto */
  }
  
  .confirmation-modal p {
    margin-bottom: 10px;
  }
  
  .confirmation-modal button {
    margin-right: 10px;
  }
  .btn-danger {
    background-color: rgb(214, 20, 20);
  }
  .btn-info {
    background-color: rgb(23, 181, 224); /* Usa !important per sovrascrivere eventuali regole CSS esistenti */
   
  }
  .btn-success {
    background-color: rgb(23, 224, 70); /* Usa !important per sovrascrivere eventuali regole CSS esistenti */
   
  }
 